<% include header.ejs %>
<div class="content">
<br><br><br><br>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div id="tvShow" class="wrapper-intro col-xs-10 col-sm-9 col-md-7 col-lg-6">
                <!-- 直播html代码-->
                    <script type="text/javascript" src="http://yuntv.letv.com/bcloud.js"></script>
                    <script type ="text/javascript" src="/javascripts/letv.js"> </script>
                    <script> 

                      //var beginTime = new Date('2016-5-6 15:40:00')

                      var beginTime = new Date('<%=beginTime%>');
                      var endTime = new Date('<%=endTime%>');

                      console.log('b = ', beginTime);
                      console.log('e = ', endTime);

                      var player = new CloudVodPlayer();   

                      /*
                      var letvcloud_player_conf = {uu : "1wnmvkv1dr", vu:'<%=vu%>', "auto_play":1,"gpcflag":1,"width":590,"height":400, start : 13, callbackJs : "playCallBack"};*/

                      var letvcloud_player_conf = {uu : "m9rv3asjdc", vu:'<%=vu%>', "auto_play":1,"gpcflag":1,"width":590,"height":400, start : 13, callbackJs : "playCallBack"};

                      player.init(letvcloud_player_conf);

                    </script>
                </div>
                    <div class="wrapper-intro col-xs-1 col-sm-3 col-md-1 col-lg-1"></div>
                    <div class="log-or-sign col-xs-10 col-sm-9 col-md-4 col-lg-5">
                      <div class="panel panel-primary">
                      <div class="panel-heading">Chatting Rom : <div id="count" style="display: inline;"></div> 人 </div>
                      <div class="panel-body">
                        <div id="convo" class="row" data-from="Sonu Joshi" style="margin-top: -20px">  
                          
                         		<div id="username" style="display: none;"><%= username %></div> <br/>
    												
  												<ul class="chat-thread" id="msglog">
  												</ul>
                        </div>
<!--                         <div class="row">
  													<div class="col-xs-1 col-sm-1"></div>
  													<div class="col-xs-6 col-sm-8"> -->
  														<input type="text" class="form-control" id="Msg" placeholder="按Enter键发送">
<!--   													</div> -->
  													<!-- <div class="col-xs-5 col-sm-3"> -->
                            <div style="text-align: center; margin-top: 10px;">
                              <button id="Quit" class="btn btn-primary btn-exit" style="width: 100%">退出房间</button>
                            </div>
  													
                        </div>
                      </div>
                      </div>
                    </div>
   
            </div>
            <!-- 测试mask按钮，整合结束后删掉-->
<!--               <script>
                var tvDiv = $("#tvShow");
                        $(function(){
                            tvDiv=$("#tvShow");
                            //tvDiv.openMask();
                            //tvDiv.openMask("loading");

                });
              </script>
            <div class="row">
            <button type="button" onclick="tvDiv.openMask('notBegin');">begin</button> 
            <button type="button" onclick="tvDiv.openMask('loading');">load</button> 
            <button type="button" onclick="tvDiv.openMask('over');">over</button> 
            <button type="button" onclick="tvDiv.closeMask();">close</button>
            </div>  -->
            <!-- 测试mask按钮，整合结束后删掉-->
        </div>
</div>
</div>
	  <script src="/socket.io/socket.io.js"></script>
  <script>
		$(function () {
			var socket = io.connect();
      // 加入房间
      socket.on('connect', function () {
        socket.emit('join', document.getElementById("username").innerHTML, 1);
      });

      // 监听消息
      socket.on('msg', function (sender, msg) {
				var message;
				if (sender == document.getElementById("username").innerHTML) {
					message = '' +
            '<li class="message_right">' +
						'  <span class="msg">' + msg + '</span>' +
            '</li>';
				}
				else {
        	message = '' +
            '<li class="message_left">' +
            '  <span class="msg">' + msg + '</span>' +
            '</li>';
				}
        $('#msglog').append(message);
        // 滚动条保持最下方
        $('#msglog').scrollTop($('#msglog')[0].scrollHeight);  
      });

      // 监听系统消息
      socket.on('system', function (sysMsg, members) {
        var message = '<div class="sysMsg">' + sysMsg + '</div>';
				if (sysMsg.length) {
        	$('#msglog').append(message);
				}

        $('#count').text(members.length);
        $('#members').text(members);
      });

      // 发送消息
      $('#Msg').keydown(function (e) {
        if (e.which === 13) {
          e.preventDefault();
          var msg = $(this).val();
          $(this).val('');

          socket.send(msg);
        }
      });

      // 退出房间
      $('#Quit').click(function () {
      	window.location.assign("/u/" + document.getElementById("username"));  
			});
    });

  </script>
<% include footer.ejs %>
