<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title><%= title %></title>
    <meta content="width=device-width,initial-scale=1,user-scalable=no" name="viewport">
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet" media="screen" type="text/css">
    <link href="/stylesheets/style.css" rel="stylesheet" media="screen" type="text/css">      

</head>
<body>
  <header class="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
                    <div class="navbar-header navbar-left">
                        <a class="navbar-brand-mc" href="/">
                            <img src="/images/brand.png" alt="logo"/>
                        </a>
                    </div>
                </div>
                <div class="hidden-xs visible-sm-block col-sm-2">
                    <div class="navbar-header navbar-left">
                        <a class="navbar-brand-mc" href="/">
                            <img src="/images/brand_S.png" alt="logo"/>
                        </a>
                    </div>
                </div>
                <div class="visible-xs-block col-xs-2">
                    <div class="navbar-header navbar-left">
                        <a class="navbar-brand-mc" href="/">
                            <img src="/images/brand_S.png" alt="logo"/>
                        </a>
                    </div>
                </div>
                <div class="col-xs-8 col-sm-5 col-md-5 col-lg-5" style="position: relative;">
                        <form class="navbar-form-mc center-vertical" method="get" action="/search" role="search">
                            <div class="input-group input-group-nav">
                                <input type="text" class="form-control" id="input-search" name="videoName" placeholder="搜索影片...">
                                <span class="input-group-btn">
                                    <a role="button" class="btn" onclick="$(this).closest('form').submit()">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </a>
                                </span>
                            </div>
                        </form>
                </div>
                <div class="hidden-xs col-sm-5 col-md-4 col-lg-4">
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav pull-right">
                            <li id="nav-index"><a href="/">首页</a></li>
                            <% if (req.user) { %>
															<li><a href="/u/<%= req.user.name %>">个人中心</a></li>
															<li><a href="/logout">登出</a></li>
														<% } else { %>
                            	<li><a href="/">登录</a></li>
														<% } %>   
                        </ul>
                    </div>
                </div>
                <div class="visible-xs-block col-xs-2">
                    <div class="nav nav-hamburger pull-right">
                        <a href="#ham" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="/">首页</a></li>
                            <li id="xs-nav-notice"><a href="/announcement">公告</a></li>
                            <% if (req.user) { %>
															<li><a href="/u/<%= req.user.name %>">个人中心</a></li>
															<li><a href="/logout">登出</a></li>
														<% } else { %>
                            	<li><a href="/">登录</a></li>
														<% } %>   
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="content">
<br><br><br><br>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div id="tvShow" class="wrapper-intro col-xs-10 col-sm-9 col-md-7 col-lg-6">
                <!-- 直播html代码-->
                    <script type="text/javascript" src="http://yuntv.letv.com/bcloud.js"></script>
                    <script type ="text/javascript" src="/javascripts/letv.js"> </script>
                    <script> 

                      //var beginTime = new Date('2016-5-6 15:40:00')

                      var beginTime = '<%=beginTime%>';   

                      var beginTime = new Date('<%=beginTime%>');   
                      var endTime = new Date('<%=endTime%>');

                      var player = new CloudVodPlayer();   

                      /*
                      var letvcloud_player_conf = {uu : "1wnmvkv1dr", vu:'<%=vu%>', "auto_play":1,"gpcflag":1,"width":590,"height":400, start : 13, callbackJs : "playCallBack"};*/

                      var letvcloud_player_conf = {uu : "m9rv3asjdc", vu:'<%=vu%>', "auto_play":1,"gpcflag":1,"width":590,"height":400, start : 13, callbackJs : "playCallBack"};

                      player.init(letvcloud_player_conf);

                    </script>
                </div>
                    <div class="wrapper-intro col-xs-1 col-sm-3 col-md-1 col-lg-1"></div>
                    <div class="log-or-sign col-xs-10 col-sm-9 col-md-4 col-lg-5">
                    <div class="panel panel-primary">
                    <div class="panel-heading">Panel heading without title</div>
                    <div class="panel-body">
                      <div id="convo" class="row" data-from="Sonu Joshi">  
                        
                       		用户名: <div id="username"><%= username %></div> <br/>
  												当前在线人数: <div id="count"></div> <br/>
  												在线用户: <div id="members"></div> <br/>
												<ul class="chat-thread" id="msglog">
												</ul>
                      </div>
                      <div class="row">
												<div class="form-group">
													<div class="col-xs-1 col-sm-1"></div>
													<div class="col-xs-6 col-sm-8">
														<input type="text" class="form-control" id="Msg">
														<br/>
														按Enter键发送
													</div>
													<!-- <div class="col-xs-5 col-sm-3"> -->
													<button id="Quit" class="btn btn-primary">退出房间</button>
													<!-- </div> -->
												</div>
                      </div>
                    </div>
                    </div>
                    </div>
   
            </div>
            <!-- 测试mask按钮，整合结束后删掉-->
            <div class="row">
            <button type="button" onclick="tvDiv.openMask('notBegin');">begin</button> 
            <button type="button" onclick="tvDiv.openMask('loading');">load</button> 
            <button type="button" onclick="tvDiv.openMask('over');">over</button> 
            <button type="button" onclick="tvDiv.closeMask();">close</button>
            </div> 
            <!-- 测试mask按钮，整合结束后删掉-->
        </div>
</div>
</div>
    <script language="JavaScript" src="/javascripts/jquery.js"></script>
    <script language="JavaScript" src="/javascripts/jquery.mask.js"></script>
	  <script src="/socket.io/socket.io.js"></script>
  <script>
    var tvDiv = $("#tvShow");
            $(function(){
                tvDiv=$("#tvShow");
                //tvDiv.openMask();
                //tvDiv.openMask("loading");

    });
		$(function () {
			var socket = io.connect();
      
      // 加入房间
      socket.on('connect', function () {
        socket.emit('join', document.getElementById("username").innerHTML, 1);
      });

      // 监听消息
      socket.on('msg', function (sender, msg) {
        var message = '' +
            '<div class="message">' +
            '  <span class="sender">' + sender + ': </span>' +
            '  <span class="msg">' + msg + '</span>' +
            '</div>';
        $('#msglog').append(message);
        // 滚动条保持最下方
        $('#msglog').scrollTop($('#msglog')[0].scrollHeight);  
      });

      // 监听系统消息
      socket.on('system', function (sysMsg, members) {
        var message = '<div class="sysMsg">' + sysMsg + '</div>';
				if (sysMsg.length) {
        	$('#msglog').append(message);
				}

        $('#count').text(members.length);
        $('#members').text(members);
      });

      // 发送消息
      $('#Msg').keydown(function (e) {
        if (e.which === 13) {
          e.preventDefault();
          var msg = $(this).val();
          $(this).val('');

          socket.send(msg);
        }
      });

      // 退出房间
      $('#Quit').click(function () {
      	window.location.assign("/u/" + document.getElementById("username"));  
			});
    });

  </script>


</body>
</html>
