<% include header.ejs %>
<div class="content">
<br>
<br>
<br>
<br>
    <div class="wrapper">

        <div class="container">
            <div class="row">
                <div class="btn-group-vertical col-xs-4 col-sm-4 col-md-3 col-lg-3" role="group">
                      <button type="button" class="btn btn-default btn-lg">
                          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                      </button>
<button type="button" class="btn btn-default btn-lg">
                          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                      </button>
<button type="button" class="btn btn-default btn-lg">
                          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                      </button>
                      <button type="button" class="btn btn-default btn-lg" onclick="addUpload();">
                        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>   我的上传
                        </button>
                      <!-- 点击出现我已上传的视频，可进行修改信息，并增加“上传视频”按钮，以及影片状态 -->
                      <button type="button" class="btn btn-default btn-lg" onclick="addMission();">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>   观影之约</button>
                      <!-- 我发起——可修改时间，并增加好友，我被约——时间，影片 -->
                      <button type="button" class="btn btn-default btn-lg">
                      <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>   消息提醒</button>             
                </div>
                <div id="mainText" class="col-xs-8 col-sm-8 col-md-9 col-lg-9">
                    <div id="myUpload">
                        <div class="row">
                            <div class="col-xs-6 col-sm-5 col-md-4 col-lg-4">
                                <h2>我的上传</h2>
                            </div>
                            <div class="col-xs-2 col-sm-4 col-md-6 col-lg-6"></div>
                            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2" style="padding: 20px 0px;">
                                <button type="button" class="btn btn-primary">
                                    继续上传  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div class="section">
                            <ul id="water-fall">
                                <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
                                        <div class="item-avatar">
                                            <div class="img-responsive" style="background-image: url(/images/logos.png);"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-6 col-md-8 col-lg-8" style="padding: 15px 0px">
                                        <div class="item-main">
                                            <div class="item-name">
                                            <a class="f-main f-16" href="/Course/148" target="_blank"><font size="5">怦然心动</font></a>
                                            </div>
                                            <div class="item-time">
                                                <font size="2" color="#BEBEBE">上传时间：2016-05-06 10:14:42</font>
                                            </div>
                                            <div class="item-text"><font size="2" color="#272727">《怦然心动》是由罗伯·莱纳执导，玛德琳·卡罗尔、卡兰·麦克奥利菲主演影片。该片根据文德琳·范·德拉安南的同名原著小说改编，描述了青春期中男孩女孩之间的有趣战争。于2010年8月6日在美国上映。</font></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                                        <div style="padding: 10px 15px">
                                            <span class="label label-primary" >已通过</span>
                                        </div> 
                                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#upNewModal" onclick="member_clear()">新建观影
                                        </button>     
                                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#upModifyModal">修改信息
                                        </button>
                                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#upDelModal">删除视频
                                        </button>
                                    </div>
                                </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="myMission">
                        <div class="row">
                            <div class="col-xs-6 col-sm-5 col-md-4 col-lg-4">
                                <h2>观影之约</h2>
                            </div>
                        </div>
                        <div class="section">
                            <div class="tabs">
                              <div class="tabs-header">
                                <div class="border"></div>
                                <ul>
                                  <li class="active"><a href="#tab-1" tab-id="1" ripple="ripple" ripple-color="#FFF">我发起的</a></li>
                                  <li><a href="#tab-2" tab-id="2" ripple="ripple" ripple-color="#FFF">我应邀的</a></li>
                                </ul>
                                <nav class="tabs-nav"><i id="prev" ripple="ripple" ripple-color="#FFF" class="material-icons">&#xE314;</i><i id="next" ripple="ripple" ripple-color="#FFF" class="material-icons">&#xE315;</i></nav>
                              </div>
                              <div class="tabs-content">
                                <div tab-id="1" class="tab active">
                                    <ul id="water-fall" >
	
																			<% if (req.user) { %>
																				<% req.missions.forEach(function(mission,index){ %>
																				<% if (mission.creator == req.user.name) { %>
                                        <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
                                                <div class="item-avatar">
                                                    <div class="img-responsive" style="background-image: url(/images/logos.png);"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-4 col-sm-6 col-md-8 col-lg-8" style="padding: 15px 0px">
                                                <div class="item-main">
                                                    <div class="item-name">
                                                    <a class="f-main f-16" href="/m/<%= mission._id.toString() %>" target="_blank"><font size="5"><%= mission.videoName %></font></a>
                                                    </div>
                                                    <div class="item-time">
                                                        <font size="2" color="#BEBEBE">开始播放时间：<%= mission.beginTime %><%= mission.creator %></font>
                                                    </div>
                                                    <div class="item-text"><font size="2" color="#BEBEBE">参与人员：<%= mission.member.toString() %></font></div>
                                                    <div class="item-text"><font size="2" color="#272727">此处应有影片简介</font></div>
																										<div id="members_mission<%= index %>" style="display: none"><%= mission.member.toString() %></div>
																										<div id="mid_missions<%= index %>" style="display: none"><%= mission._id.toString() %></div>
																			
																										</div>
                                            </div>
                                            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2" style="margin: 30px 0 15px 0">   
                                                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#miModifyModal" onclick="member_reset('members_mission<%= index %>', 'mid_missions<%= index %>')">修改信息
                                                </button>
                                                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#miDelModal">删除观影
                                                </button>
                                            </div>
                                        </div>
                                        </li>
																				<% } %>
																				<% }) %>
																			<% } %>

                                    </ul>   
                                </div>
                                <div tab-id="2" class="tab">
                                    <ul id="water-fall" >
																				
																			<% if (req.user) { %>
																				<% req.missions.forEach(function(mission,index){ %>
																				<% if (mission.creator != req.user.name) { %>
                                        <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
                                                <div class="item-avatar">
                                                    <div class="img-responsive" style="background-image: url(/images/logos.png);"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-4 col-sm-6 col-md-8 col-lg-8" style="padding: 15px 0px">
                                                <div class="item-main">
                                                    <div class="item-name">
                                                    <a class="f-main f-16" href="/Course/148" target="_blank"><font size="5">怦然心动</font></a>
                                                    </div>
                                                    <div class="item-time">
                                                        <font size="2" color="#BEBEBE">开始播放时间：<%= mission.beginTime %><%= mission.creator %></font>
                                                    </div>
                                                    <div class="item-text"><font size="2" color="#BEBEBE">参与人员：
																											<div id="members_mission<%= index %>"><%= mission.member.toString() %></div>
																										</font></div>
                                                    <div name="test "class="item-text"><font size="2" color="#272727">此处应有影片简介</font></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2" style="margin: 30px 0 15px 0">   
                                                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#miDelModal">删除观影
                                                </button>
                                            </div>
                                        </div>
                                        </li>
																				<% } %>
																				<% }) %>
																			<% } %>

                                    </ul> 
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                 <!--   <div class="col-xs-0 col-sm-1 col-md-0 col-lg-1"></div> -->
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                </div>
            </div>
        </div>
    </div>
<!-- upLoad Modal -->
    <div class="modal fade" id="upNewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">新建任务</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" method="post" action="/createMission">
                    <div class="form-group">
                        <label for="labBegint" class="col-sm-3 control-label">开始播放时间</label>
                          <div class="col-sm-9 input-append date form_datetime" id="datetimepicker" data-date="2013-02-21T15:25:00Z">
                            <input name="beginTime" class="col-sm-9" type="text" value="" readonly>
                            <span class="add-on"><i class="icon-remove"></i></span>
                            <span class="add-on"><i class="icon-calendar"></i></span>
                         </div> 
                    </div>
                    <div class="form-group">
                        <label for="labFri" class="col-sm-3 control-label">邀请好友</label>
												<input id="members" name="members" class="col-sm-9" type="text" style="display: none" value="" readonly>
                        <div class="col-sm-7">
                            <div class="btn-group">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">我的好友<span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                <% req.friends.forEach(function(friend,index) { %>
																<li><a href="javascript:void(0);" onclick="addFri('<%= friend %>')"><%= friend %></a></li>
																<% }) %>
															</ul>
                            </div>
                        </div>          
                    </div> 
                    <div class="form-group">
                        <div id="friBtns"class="col-sm-7"></div>
                    </div>                  
									</div>
            
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										<!-- <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="alert(members.toString());">Submit</button> -->
									</div>
							<input type="submit" value="Submit"/>
          	</form>

        </div>
      </div>
    </div>

    <div class="modal fade" id="upModifyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">修改视频信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-1"></div>
                        <label for="videoName" class="col-sm-2 control-label">视频名称</label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" id="videoName" placeholder="视频名称">
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-1"></div>
                        <label for="videolabel" class="col-sm-2 control-label">视频标签</label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" id="videoName" placeholder="空格表示分隔符，例：青春 热血">
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-1"></div>
                        <label for="videoText" class="col-sm-2 control-label">视频简介</label>
                        <div class="col-sm-7">
                          <textarea class="form-control" id="videoText"></textarea>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>                   
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
      </div>
    </div>
    <div class="modal fade bs-example-modal-sm" id="upDelModal" tabindex="-1" role="dialog" aria-labelledby="smallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body" style="margin: 10px">
                    <font size="4" color="#272727">确定删除该视频？</font>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Delete</button>
                </div>             
            </div>
        </div>
    </div>

<!-- Mission Modal -->
    <div class="modal fade" id="miModifyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">修改观影约定</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal"  method="post" action="/updateMission">
                  <div class="form-group">
                    <label for="labBegint" class="col-sm-3 control-label">开始播放时间</label>
                      <div class="col-sm-9 input-append date form_datetime" id="datetimepicker" data-date="2013-02-21T15:25:00Z">
                        <input name="beginTime" class="col-sm-9" type="text" value="" readonly>
                            <span class="add-on"><i class="icon-remove"></i></span>
                            <span class="add-on"><i class="icon-calendar"></i></span>
                     </div>    
                  </div>  
                    <div class="form-group">
                        <label for="labFri" class="col-sm-3 control-label">继续邀请好友</label>
                        <input id="members2" name="members" class="col-sm-9" type="text" style="display: none" value="" readonly>
												<div class="col-sm-7">
                            <div class="btn-group">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">我的好友<span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                <% req.friends.forEach(function(friend,index) { %>
																<li><a href="javascript:void(0);" onclick="addFri2('<%= friend %>')"><%= friend %></a></li>
																<% }) %>
															</ul>
                            </div>
                        </div>          
                    </div> 
                    <div class="form-group">
                        <div id="friBtns2"class="col-sm-7">
                        </div>
                    </div>                              
            		</div>
            		<div class="modal-footer">
              	  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              	  <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
            		</div>
							<input id="mid2modify" name='mid' type="text" style="display: none" value="" readonly>
							<input type="submit" value="Submit"/>
						</form>

        </div>
      </div>
    </div>
    <div class="modal fade bs-example-modal-sm" id="miDelModal" tabindex="-1" role="dialog" aria-labelledby="smallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body" style="margin: 10px">
                    <font size="4" color="#272727">确定删除此次观影约定？</font>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Delete</button>
                </div>             
            </div>
        </div>
    </div>

 </div>    
    <script src="../javascripts/stopExecutionOnTimeout.js"></script>
    <script language="JavaScript" src="../javascripts/bootstrap-datetimepicker.js"></script>
    <script language="JavaScript" src="../javascripts/locales/bootstrap-datetimepicker.fr.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
          $('#test').BootSideMenu({side:"right", autoClose:true});
        });
        function addUpload() {
        document.getElementById("myMission").style.display="none";
        document.getElementById("myUpload").style.display="block";  
        }
        function addMission() {
        document.getElementById("myUpload").style.display="none";
        document.getElementById("myMission").style.display="block";  
        }
        $(document).ready(function () {
        var activePos = $('.tabs-header .active').position();
        function changePos() {
            activePos = $('.tabs-header .active').position();
            $('.border').stop().css({
                left: activePos.left,
                width: $('.tabs-header .active').width()
            });
        }
        changePos();
        var tabHeight = $('.tab.active').height();
        function animateTabHeight() {
            tabHeight = $('.tab.active').height();
            $('.tabs-content').stop().css({ height: tabHeight + 'px' });
        }
        animateTabHeight();
        function changeTab() {
            var getTabId = $('.tabs-header .active a').attr('tab-id');
            $('.tab').stop().fadeOut(300, function () {
                $(this).removeClass('active');
            }).hide();
            $('.tab[tab-id=' + getTabId + ']').stop().fadeIn(300, function () {
                $(this).addClass('active');
                animateTabHeight();
            });
        }
        $('.tabs-header a').on('click', function (e) {
            e.preventDefault();
            var tabId = $(this).attr('tab-id');
            $('.tabs-header a').stop().parent().removeClass('active');
            $(this).stop().parent().addClass('active');
            changePos();
            tabCurrentItem = tabItems.filter('.active');
            $('.tab').stop().fadeOut(300, function () {
                $(this).removeClass('active');
            }).hide();
            $('.tab[tab-id="' + tabId + '"]').stop().fadeIn(300, function () {
                $(this).addClass('active');
                animateTabHeight();
            });
        });
        var tabItems = $('.tabs-header ul li');
        var tabCurrentItem = tabItems.filter('.active');
        $('#next').on('click', function (e) {
            e.preventDefault();
            var nextItem = tabCurrentItem.next();
            tabCurrentItem.removeClass('active');
            if (nextItem.length) {
                tabCurrentItem = nextItem.addClass('active');
            } else {
                tabCurrentItem = tabItems.first().addClass('active');
            }
            changePos();
            changeTab();
        });
        $('#prev').on('click', function (e) {
            e.preventDefault();
            var prevItem = tabCurrentItem.prev();
            tabCurrentItem.removeClass('active');
            if (prevItem.length) {
                tabCurrentItem = prevItem.addClass('active');
            } else {
                tabCurrentItem = tabItems.last().addClass('active');
            }
            changePos();
            changeTab();
        });
        $('[ripple]').on('click', function (e) {
            var rippleDiv = $('<div class="ripple" />'), rippleOffset = $(this).offset(), rippleY = e.pageY - rippleOffset.top, rippleX = e.pageX - rippleOffset.left, ripple = $('.ripple');
            rippleDiv.css({
                top: rippleY - ripple.height() / 2,
                left: rippleX - ripple.width() / 2,
                background: $(this).attr('ripple-color')
            }).appendTo($(this));
            window.setTimeout(function () {
                rippleDiv.remove();
            }, 1500);
        });
    });
    
    var members = new Array();
		function member_clear() {
			delete members;
			members = new Array();
		}
		function member_reset(mm, mmid) {
			delete members;
			members = document.getElementById(mm).innerHTML.split(',');
			var mid = document.getElementById(mmid).innerHTML;
			document.getElementById('mid2modify').value = mid;
			alert(members + " " + members.length + " " +  mid);
			document.getElementById("friBtns2") = null;
			for (var i = 0; i < members.length; i++) {
				var mydiv=document.getElementById("friBtns2");
				var btn=document.createElement("input");
				btn.type="button";
				btn.value=members[i];
				btn.id=members[i];
				btn.setAttribute("class","btn btn-primary btn-sm");
				btn.setAttribute("className","btn btn-primary");
				mydiv.appendChild(btn);
				btn.onclick=function() {
					removeA(btn.id);
					mydiv.removeChild(btn);
				};
			}
		}
    function removeA(name) 
    {
        for (var i=0;i<members.length;i++)
        {
            if (members[i] == name) {
                members.splice(i,1);
            }
        }
    }
    function addFri(name)
    {
        var btn0=document.getElementById(name);
        if (btn0 == null) {
            members.push(name);
						document.getElementById('members').value = members;
            var mydiv=document.getElementById("friBtns");
            var btn=document.createElement("input");
            btn.type="button";
            btn.value=name;
            btn.id=name;
            btn.setAttribute("class","btn btn-primary btn-sm");
            btn.setAttribute("className","btn btn-primary");
            mydiv.appendChild(btn);
            btn.onclick=function() {
                removeA(btn.id);
                mydiv.removeChild(btn);
            };
        }
    }
    function addFri2(name)
    {
        var btn0=document.getElementById(name);
        if (btn0 == null) {
            members.push(name);
						document.getElementById('members2').value = members;
            var mydiv=document.getElementById("friBtns2");
            var btn=document.createElement("input");
            btn.type="button";
            btn.value=name;
            btn.id=name+'2';
            btn.setAttribute("class","btn btn-primary btn-sm");
            btn.setAttribute("className","btn btn-primary");
            mydiv.appendChild(btn);
            btn.onclick=function() {
                removeA(btn.id);
                mydiv.removeChild(btn);
            };
        }
    }
    $(document).ready(function(){
        $('.add2').click(function(){
            removeA(this.id);
            document.getElementById("friBtns2").removeChild(this);         
        });
    });
    </script>
<% include footer.ejs %>
